/* ---------- */
/*    Base    */
/* ---------- */

.container {
	width: 100%;
	/* padding-bottom: 56.25%; */
	/* height: 0; */
	min-height: calc(
		100vh - 60px
	); /* 65px is the height of the bar at the bottom*/
	position: relative;
}

.player {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
