body {
	margin: 0;
	/* TODO: should probably incude roboto, for macs that don't have the font*/
	font-family: Roboto, sans-serif;
	background: var(--lightBackground);
}

/* ------------- */
/*    Base UI    */
/* ------------- */

.container {
	display: flex;
	flex-direction: column;
}

.titleBar {
	position: absolute;
	top: 0;
	width: 100%;
	height: 30px;
	-webkit-app-region: drag;
}

/* ------------- */
/*  Empty State  */
/* ------------- */

.emptyState {
	/* Use the same dimensions as the youtube player */
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	position: relative;
}

.emptyStateContent {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
