:root {
	--lightBackground: #051319;
	--darkBackground: #020c10;

	--highlightColor: #09f0ac;
	--darkHighlight: #0b191f;

	--textColor: #ececec;
	--lightColor: #ffffff;

	--smallFontSize: 10px;
	--baseFontSize: 12px;
}
