/* ---------- */
/*    Base    */
/* ---------- */

.container {
	width: 220px;
	height: 100%;
	background: var(--darkBackground);
	display: flex;
	align-items: center;
	position: relative;
	box-shadow: 5px 0 10px 0px rgba(0, 0, 0, 0.6);
	z-index: 2;
}

/* ----------- */
/*   Buttons   */
/* ----------- */

.playButton {
	min-width: 35px;
	min-height: 35px;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 50%;
	background: transparent;
	outline: none;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateZ(0);
	cursor: pointer;
	margin-left: 20px;
	margin-right: 10px;
}

.playIcon {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 9px solid var(--lightColor);
	margin-left: 2px;
}

.pauseIcon {
	display: flex;
	&:before,
	&:after {
		content: "";
		display: block;
		width: 2px;
		height: 10px;
		background: var(--lightColor);
		margin: 0 1px;
	}
}

/* -------- */
/*   Info   */
/* -------- */

.activeInfo {
	font-size: var(--baseFontSize);
	width: 100%;
	overflow: hidden;
	margin-right: 20px;
}

.trackName {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.trackAuthor {
	font-size: var(--smallFontSize);
	opacity: 0.4;
	margin-top: 3px;
}

/* ----------- */
/*   Progress  */
/* ----------- */

.progress {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
}

.progressBar {
	width: 100%;
	height: 100%;
	background: var(--highlightColor);
}
