/* --------------- */
/*    Container   */
/* -------------- */

.container {
	width: 100%;
	height: 60px;
	background: var(--lightBackground);
	display: flex;
	align-items: center;
	/* justify-content: center; */
	position: relative;
}

/* ------------------------ */
/* Center Content - Buttons */
/* ------------------------ */
